div {
    padding-bottom: 10px;
}

.officiant, .people, .everyone, .continuation, .versicle, .response {
    display: block;
}

.people, .everyone {
    font-style: italic;
}

.people .everyone, .officiant .everyone {
    display: inline;
}

.lord {
    font-variant: small-caps;
}

.verseno {
    vertical-align: super;
    font-size: 50%;
}

.psalm h2 {
    -webkit-margin-after: 0em;
    margin-bottom: 0em;
}

.psalm p, .confession p, .absolution p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin-top: 0em;
}

.cite {
    font-style: italic;
    font-size: 75%;
}

.psalm, .collect, .verse {
    display: none;
}

.continuation {
    padding-left: 1em;
}
